@import '../../../styles/font.css';

:root {
    --portfolio-book-height:80vh;
    --portfolio-information-container-height: 40%;

    /* Background */
    --portfolio-background-color: #808080;
    --portfolio-grid-line-color: #969696;

    /* Book cover */
    --book-cover-color: #57BFDC;
    /* --book-cover-thread-color: #A5E7F6; */

    /* Page content */
    --book-page-color: #FFFFFF;
    --book-page-outline-color: #1D1D1D;
    --book-page-line-color: #C3C3C3;
    --book-page-text-color: #2478A7;
    --book-url-text-color: #5C5C5C;
    --book-bookmark-color: #239AB9;
}

.list-container {
    width: 100%;
    background-color: var(--book-page-color);
    font-size: var(--font-size-lg);
}

.list-title-text {
    color: var(--book-page-text-color);
    font-weight: 600;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-bottom: 3px solid var(--book-page-line-color);
}

.list-content-container {
    width: calc(100% - 2rem);
    margin-left: 2rem;
    padding-bottom: .5rem;
}

.list-item {
    list-style-type:disc;
}